.form-container {
  max-width: 40rem;
  margin: 0 auto;
}

.form-container form {
  background-color: #36393f;
  color: #fff;
  padding: 2rem;
  border-radius: 10px;
}

.form-container label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.form-container input {
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  background-color: #2f3136;
  color: #fff;
  width: 100%;
  margin-bottom: 1rem;
}

.form-container button {
  background-color: #677bc4;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.2s ease-out;
  margin-top: 1rem;
}

.form-container button:hover {
  background-color: #77ad5a;
}
